* {
    -webkit-border-radius: 1px !important;
       -moz-border-radius: 1px !important;
            border-radius: 1px !important;
}

a
{
    text-decoration: none !important;
    color: inherit !important;
}

@media screen and (min-width: 1200px) {

    .card-group-styling
    {
        margin-left: 10vw !important;
        margin-right: 10vw !important;
    }
}

